logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
gabfix-administrator\node_modules
gabfix-inhouse-erp\node_modules
gabfix-laundry-front-office\node_modules
gabfix-store\node_modules

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
